<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all"/>
    <title>UserMenus</title>
</head>
<body>
<table class="layui-hide" id="menu" lay-filter="menu"></table>
<input class="roleId" class="roleId" style="display:none">
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/layui/layui.js" charset="utf-8"></script>

<script>
    layui.use(['table'], function () {
        var table = layui.table;
        var webservice = "/webservice";
        var findMenus = webservice + "/findRoleMenus";

        var roleTable = table.render({
            elem: '#menu'
            , page: true
            , request: {//current=1&size=2
                pageName: 'current' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , url: findMenus
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [//标题栏
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', hide: true}
                    , {field: 'name', title: '菜单名'}
                    , {field: 'des', title: '描述'}
                ]
            ]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": "0", //解析接口状态
                    //"msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.records //解析数据列表
                }
            }
            , done: function (res, curr, count) { // 隐藏列

            }
        });

        function reload() {
            //执行重载
            roleTable.reload('id', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }
    });

</script>
</body>
</html>